<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bardTTS</title>
</head>
<body>
    <h1>bardTTS</h1>
    <p>Say "hey engine" to start it</p>
    <form action={{ f_action }} method="get">
        <button name="listenbtn" type="submit">{{ b_text }}</button>
    </form>
    <p>
        {{ txtfile }}
    </p>
</body>
</html>